.sidebar {
	width: 220px;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: var(--space-4);
	border-left: 1px solid var(--color-border);
	z-index: 10;


	.sidebar-header {
		margin-bottom: var(--space-24);
		display: flex;
		justify-content: space-between;
		align-items: center;

		.theme-toggle {
			width: var(--space-20);
			height: var(--space-20);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: var(--radius-md);
		}
	}


	.nav-sub-list {
		display: flex;
		flex-direction: column;
		gap: var(--space-2);
		padding-right: var(--space-6);


		.nav-sub-item {
			display: flex;
			align-items: center;
			gap: var(--space-2);
			height: var(--space-20);
			overflow: hidden;
			border-radius: var(--radius-md);

			.nav-item {
				flex: 1;
				height: 100%;
				background: transparent;

				&:hover,
				&.active {
					background: transparent;
				}
			}

			.hidden-btn {
				flex: 0 0 auto;
				opacity: 0;
				scale: 0;
				transition:
					opacity var(--transition-fast),
					transform var(--transition-fast),
					scale var(--transition-fast);

				&.color-danger:hover {
					color: var(--color-danger)
				}
			}

			&:is(:hover) {
				background: var(--color-surface-hover);

				.nav-item {
					color: var(--color-primary);
				}

				.hidden-btn {
					opacity: 1;
					scale: 1;
				}
			}

			.delete-confirmation {
				display: flex;
				align-items: center;
				gap: var(--space-4);
				height: 100%;
				flex: 1;
				padding: var(--space-4) var(--space-6);

				.warning-text {
					display: inline-flex;
					align-items: center;
					gap: var(--space-2);
					min-width: 0;
					font-size: var(--font-size-xs);
					flex: 1;

					.ph {
						font-size: var(--font-size-sm);
					}
				}

				.action-btns {
					display: inline-flex;
					gap: var(--space-2);
					flex: 0 0 auto;
				}
			}
		}
	}

	.nav-list {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: var(--space-4);
		min-width: 0;

		.nav-item {
			display: flex;
			align-items: center;
			gap: var(--space-8);
			width: 100%;
			min-width: 0;
			box-sizing: border-box;
			padding: var(--space-6) var(--space-8);
			border-radius: var(--radius-md);
			text-decoration: none;
			color: var(--color-text-secondary);
			transition:
				background-color var(--transition-fast),
				color var(--transition-fast);
			cursor: pointer;
			text-align: start;

			.nav-label {
				flex: 1;
				min-width: 0;
				font-size: var(--font-size-sm);
				font-weight: var(--font-weight-medium);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&.sm {
				gap: var(--space-4);
				padding: var(--space-4) var(--space-6);

				.nav-label {
					font-size: var(--font-size-xs);
				}
			}

			&:hover,
			&.active {
				background: var(--color-surface-hover);
				color: var(--color-primary);
			}
		}
	}

	.sidebar-footer {
		margin-top: auto;
		padding: var(--space-8);
		border-radius: var(--radius-md);
		display: flex;
		flex-direction: column;
		gap: var(--space-8);

		.user-profile {
			display: flex;
			align-items: center;
			gap: var(--space-6);
			text-align: right;

			.user-avatar {
				width: var(--space-20);
				height: var(--space-20);
				background: var(--color-primary);
				color: var(--color-white);
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: var(--font-weight-bold);
			}

			.user-info {
				display: flex;
				flex-direction: column;
				gap: var(--space-2);
				overflow: hidden;

				.user-name {
					font-size: var(--font-size-sm);
					font-weight: var(--font-weight-semibold);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

	}
}