.form-group {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: var(--space-2);
}

.form-field-has-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: min(var(--search-width), 100%);

  .field-icon {
    position: absolute;
    right: var(--space-3);
    color: var(--color-text-secondary);
    pointer-events: none;
  }
}

input,
textarea,
select {
  width: 100%;
  padding: var(--space-3) var(--space-4);
  background: var(--color-input-bg);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  color: var(--color-text-primary);
  font-family: var(--font-main);
  font-size: var(--font-size-sm);
  transition: var(--transition-colors);
  outline: none;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  &::placeholder {
    color: var(--color-text-muted);
  }


  &:focus {
    background: var(--color-input-bg);
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px var(--color-primary-glow), 0 0 0 1px var(--color-primary);
  }

  &:hover:not(:focus):not(:disabled) {
    border-color: var(--primary-300);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.form-control {
    padding: var(--space-2) var(--field-icon-padding) var(--space-2) var(--space-4);

  }
}

input[type='range'] {
  accent-color: var(--color-primary);

  /* &::-webkit-slider-runnable-track {
    background: var(--color-input-bg);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
  }

  &::-moz-range-track {
    background: var(--color-input-bg);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
  } */
}


p-select.custom-select.p-select {
  width: 240px;

  .p-select-label {
    font-size: var(--font-size-xs);
    padding: 0 12px;
    display: flex;
    align-items: center;
  }

}

.p-select-option-group {
  direction: ltr;
  background-color: var(--color-surface) !important;
  padding: 2px 4px !important;
  border-radius: 2px;
  font-variant: small-caps;


}

li.p-select-option {
  direction: ltr;



  .select-option {
    font-size: var(--font-size-xs);
    direction: ltr;
  }
}
